{% extends '_layouts/default.njk' %}

{% block body %}

<div class="content">

  <strong>Olá, {{ user.name }}!</strong>
  <p>Esses são os seus agendamentos para hoje:</p>

  <ul class="providers">

    {% for appointment in appointments %}
      <li class="provider">
        <div>
          <img src="/files/{{ appointment.user.avatar }}" />
          <strong>{{ appointment.user.name }}</strong>
          <strong>{{ appointment.date | date("HH:mm") }}</strong>
        </div>
      </li>
    {% endfor %}
  </ul>

  <a href="/app/logout" class="logout">Sair</a>
</div>

{% endblock %}